{
  "libcertifier.cert.min_time_left_s": 604800,
  "libcertifier.certifier.url": "https://certifier-dev.xpki.io/v1/certifier/certificate",
  "libcertifier.num.days": 365,
  "libcertifier.crt.type": "X509",
  "libcertifier.disable.auto.renewal": 0,
  "libcertifier.ecc.curve.id": "prime256v1",
  "libcertifier.http.connect.timeout": 10000,
  "libcertifier.http.timeout": 10000,
  "libcertifier.http.trace": 0,
  "libcertifier.int.ca": "-----BEGIN CERTIFICATE-----\nMIIB1TCCAXugAwIBAgIUaCdMJM5ExgyNnigUn9nrciCp3lswCgYIKoZIzj0EAwIw\nRDFCMEAGA1UEAww5REVWIE9OTFkgLSBDb21jYXN0IEludGVncmF0aW9uIFRlc3Rp\nbmcgRUNDIENsYXNzIElJSSBSb290MB4XDTIwMDYwOTE2MTU0OFoXDTQ1MDQyMTIz\nMTc1NVowKTEnMCUGA1UEAwweREVWIE9OTFkgLSBDSElQIERFViBDbGFzczMgSUNB\nMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE/JXb+J5+3Y7FN+WeaDXNNgrK14VN\nADaqdTfJ5L40EKQNurFUnCa/fHaY1kUbkQ7afrWZBNiUmnRcLd8qKys9RaNmMGQw\nEgYDVR0TAQH/BAgwBgEB/wIBADAfBgNVHSMEGDAWgBS+9mw0i4rlSoz1YiA7gNGB\n+6yMfjAdBgNVHQ4EFgQU9AYzms9s5PMAram6lpIiN28jYwkwDgYDVR0PAQH/BAQD\nAgGGMAoGCCqGSM49BAMCA0gAMEUCIQCRPYpEl7kDiVMiZNBVM1Gy5EER92/BWmIv\nsFCcmkNOqQIgH8pxet+kZRoQfggk5JdtKhht4ixAt9EJy9i8khHQG10=\n-----END CERTIFICATE-----\n",
  "libcertifier.keystore": "lrg",
  "libcertifier.log.file": "/tmp/libcertifier.log",
  "libcertifier.log.level": 0,
  "libcertifier.log.max.size": 5000000,
  "libcertifier.measure.performance": 0,
  "libcertifier.password": "changeit",
  "libcertifier.root.ca": "-----BEGIN CERTIFICATE-----\nMIIB2jCCAYCgAwIBAgIUSpw4NDgjpSefY8fDfnEVw3pRiTIwCgYIKoZIzj0EAwIw\nOTE3MDUGA1UEAwwuQ29tY2FzdCBJbnRlZ3JhdGlvbiBUZXN0aW5nIEVDQyBDbGFz\ncyBJSUkgUm9vdDAeFw0yMDA1MTEyMzExMzhaFw00NTA1MDUyMzExMzhaMDkxNzA1\nBgNVBAMMLkNvbWNhc3QgSW50ZWdyYXRpb24gVGVzdGluZyBFQ0MgQ2xhc3MgSUlJ\nIFJvb3QwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAAQeHvQ24mds4HkSkZtMcuzy\nQO5wSWIQMRfOQ4fXz+i11A/ceJ8fac4j4a52vD8lm/1PmHg+Fx8VSBV9Dismg6SP\no2YwZDASBgNVHRMBAf8ECDAGAQH/AgEBMB8GA1UdIwQYMBaAFDb0CqUK9CvOTlfU\nzH+wMqyqy9i1MB0GA1UdDgQWBBQ29AqlCvQrzk5X1Mx/sDKsqsvYtTAOBgNVHQ8B\nAf8EBAMCAYYwCgYIKoZIzj0EAwIDSAAwRQIhAJNYLBfsx0+JFlicYl1BZEckgRaz\nnddXAsMw7+XQNo3PAiApvkNkkTJk4cAxuQptW8O/ov99C3nc9drePBvo2RA8Zg==\n-----END CERTIFICATE-----\n",
  "libcertifier.source.name": "libcertifier-opensource",
  "libcertifier.tls.insecure.host": 0,
  "libcertifier.tls.insecure.peer": 0,
  "libcertifier.certificate.lite": 1,
  "libcertifier.system.id":"BBBBBBBBBBBBBBBB",
  "libcertifier.cn.name":"AAAAAAAAAAAAAAAA",
  "libcertifier.ext.key.usage":"critical,clientAuth,serverAuth"
}
