{
  "libcertifier.certifier.url": "https://certifier.xpki.io/v1/certifier",
  "libcertifier.profile.name": "XFN_Matter_OP_Class_3_ICA",
  "libcertifier.validity.days": 365,
  "libcertifier.auth.type": "X509",
  "libcertifier.ecc.curve.id": "prime256v1",
  "libcertifier.http.connect.timeout": 20,
  "libcertifier.http.timeout": 20,
  "libcertifier.http.trace": 0,
  "libcertifier.input.p12.path": "seed.p12",
  "libcertifier.input.p12.password": "changeit",
  "libcertifier.log.file": "/tmp/libcertifier.log",
  "libcertifier.log.level": 4,
  "libcertifier.log.max.size": 5000000,
  "libcertifier.autorenew.interval": 86400,
  "libcertifier.autorenew.certs.path.list": "~/.libcertifier:~/.libcertifier2",
  "libcertifier.measure.performance": 0,
  "libcertifier.source.id": "libcertifier-opensource",
  "libcertifier.certificate.lite": 1,
  "libcertifier.certificate.scopes": 0,
  "libcertifier.system.id":"BBBBBBBBBBBBBBBB",
  "libcertifier.fabric.id":"DDDDDDDDDDDDDDDD",
  "libcertifier.product.id":"1101",
  "libcertifier.cn.name":"AAAAAAAA",
  "libcertifier.node.id":"CCCCCCCCCCCCCCCC",
  "libcertifier.ext.key.usage":"critical,clientAuth,serverAuth"
}
